@page "{productid?}"
@model RazorPages.Pages.ExercisePages.CRUDModel
@{
	ViewData["Title"] = "CRUD Page";
}
@section Scripts{ 
    <partial name="_ValidationScriptsPartial" />
}
<h1>Manage Product</h1>

<p style="font-weight:bold; color:forestgreen;">@Model.FeedBackMessage</p>
<p style="font-weight:bold; color:firebrick;">@Model.ErrorMessage</p>

<form method="post">
    <label>
        Description:
        <input type="text" asp-for="Product.Description"/>
        <span asp-validation-for="Product.Description"></span>
    </label>

    <label>
        Price:
        <input type="number" asp-for="Product.Price" />
    </label>

    <label>
        Discount:
        <input type="number" asp-for="Product.Discount" />
    </label>

    <label>
        Unit Size:
        <input type="text" asp-for="Product.UnitSize" />
    </label>

    <label>
        Category:
        <select asp-for="Product.CategoryID">
                    @foreach(var item in Model.Categories)
            {
                if (Model.productid.HasValue && item.ValueId == Model.Product.CategoryID)
                {
                    <option value="@item.ValueId" selected>@item.DisplayText</option>
                }
                else
                {
                    <option value="@item.ValueId">@item.DisplayText</option>
                }
            }
        </select>
        <span asp-validation-for="Product.CategoryID"></span>
    </label>

    <label>
        Taxable:
        <input type="checkbox" />
    </label>
      @if (Model.Product != null)
    {
        <button type="submit" asp-page-handler="New" disabled>Save New</button>
        <button type="submit" asp-page-handler="Update">Update</button>
        @* add Javascript prompt for delete confirmation using the onclick *@
        <button type="submit" asp-page-handler="Delete" formnovalidate
                onclick="return confirm('Are you sure you wish to delete the album?')">
            Delete
        </button>
        <button type="submit" asp-page-handler="Clear" formnovalidate>Clear</button>
        <button type="submit" asp-page-handler="Search" formnovalidate>Search</button>
    }
    else
    {
    <button type="submit" asp-page-handler="New">Save New</button>
    <button type="submit" asp-page-handler="Update" disabled>Update</button>
    @* add Javascript prompt for delete confirmation using the onclick *@
    <button type="submit" asp-page-handler="Delete" formnovalidate disabled
            onclick="return confirm('Are you sure you wish to delete the Product?')">
        Delete
    </button>
    <button type="submit" asp-page-handler="Clear" formnovalidate>Clear</button>
    <button type="submit" asp-page-handler="Search" formnovalidate>Search</button>
    }
</form>